<h3>Estamos jugando a Quiz</h3>
<p>Puede seleccionar las preguntas e intentar acertarlas, tiene infinitas posibilidades</p>
<div style="float:left; width=45%; overflow:auto; height=125px;">
	<table>
  		<% var i; for (i=0; i < quizes.length; i++) { %>        
    		<tr align="left">
      		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    		</tr>
  		<% } %>
	</table>
	<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>    
</div>
<div style="float:left; margin-left:40%; width=45%; overflow:auto; height=125px;">
	<h4>BUSQUE SUS PROPIAS PREGUNTAS</h4>
	<form acton="get" action="/quizes">
		<input type="text" name="search" value="Texto a buscar" />
  		<input type="submit" value="Enviar" />
	</form>  
</div>
